<div class="container">
  <div class="row center" style="margin-top: 48px">
    <div>
      <div class="col-12 center">
        <img style="width: 12em" src="logo.jpg" alt="logo" />
      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 20px">
    <div class="center">
      <h1 class="title">REGISTER</h1>
    </div>
  </div>
  <form (ngSubmit)="createUser()" [formGroup]="registerForm" autocomplete="off">
    <div class="form-group row" style="margin-top: 15px">
      <div class="col-12 center">
        <input
          class="form-control"
          type="text"
          placeholder="Name"
          formControlName="name"
        />
      </div>
    </div>
    <div class="form-group row" style="margin-top: 15px">
      <div class="col-12 center">
        <input
          class="form-control"
          type="email"
          placeholder="Email address"
          formControlName="email"
        />
      </div>
    </div>
    <div class="form-group row" style="margin-top: 15px">
      <div class="col-12 center">
        <input
          class="form-control"
          type="password"
          placeholder="Password"
          formControlName="password"
        />
      </div>
    </div>
    <div class="form-group row" style="margin-top: 15px">
      <div class="col-12 center">
        <input
          class="form-control"
          type="password"
          placeholder="Confirm password"
          formControlName="confirmPassword"
        />
      </div>
    </div>
    <div class="form-group row mt-3">
      <div class="col-12 center text-danger">
        @if(fieldNotValid('name')){
        <p>The name is required</p>
        }
      </div>
      <div class="col-12 center text-danger">
        @if(fieldNotValid('email')){
        <p>The Email is required and must be valid</p>
        }
      </div>
      <div class="col-12 center text-danger">
        @if(fieldNotValid('password')){
        <p>The password is required</p>
        }
      </div>
    </div>
    <div class="form-group row" style="margin-top: 20px">
      <div>
        <div class="col-12 center">
          <button type="submit" class="continue">Continue</button>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 8px">
      <div>
        <div class="col-12 center">
          <p>
            Already have an account?
            <a routerLink="/login" routerLinkActive="router-link-active"
              >Sign In</a
            >
          </p>
        </div>
      </div>
    </div>
  </form>
</div>

<footer>
  <div>
    <div class="row" style="margin-top: 430px">
      <div>
        <div class="col-12 center">
          <p style="color: #10a37f">Terms of use | Privacy policy</p>
        </div>
      </div>
    </div>
  </div>
</footer>
