<div class="row mt-4">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search User"
            aria-label="Search User"
            (keyup)="search(searchTerm.value)"
            #searchTerm
          />
        </form>
      </div>
    </div>
  </div>
</div>
&nbsp; @if(loading){
<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="alert alert-dark text-center">
      <h4 class="alert-heading">Loading</h4>
      <div class="d-flex justify-content-center">
        <div class="spinner-grow text-secondary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
      <p class="mb-0">Please wait</p>
    </div>
  </div>
</div>
} @else if(!loading){
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Total Users ({{ totalUsers }})</h4>
        <h6 class="card-subtitle">Registered users in the application</h6>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th class="w100 text-center">Avatar</th>
                <th class="text-center">Email</th>
                <th class="text-center">Name</th>
                <th class="w140 text-center">Role</th>
                <th class="w100 text-center">Auth</th>
                <th class="text-nowrap w100 text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td class="text-center">
                  <img
                    [src]="user.imageUrl"
                    alt="user"
                    class="img-avatar avatar cursor"
                    (click)="openModal(user)"
                  />
                </td>
                <td class="text-center align-middle">{{ user.email }}</td>
                <td class="text-center align-middle">{{ user.name }}</td>
                <td class="text-center align-middle">
                  <select
                    class="form-select"
                    [(ngModel)]="user.role"
                    (change)="changeRole(user)"
                  >
                    <option value="ADMIN_ROLE">Admin</option>
                    <option value="USER_ROLE">User</option>
                  </select>
                </td>
                <td class="text-center align-middle">
                  @if(user.google){
                  <span class="badge bg-danger">Google</span>
                  } @else{
                  <span class="badge bg-primary">Email</span>
                  }
                </td>

                <td class="text-nowrap d-flex justify-content-evenly">
                  <a
                    data-toggle="tooltip"
                    data-original-title="Delete"
                    class="cursor"
                    (click)="deleteUser(user)"
                  >
                    <i class="fa fa-close text-danger mt-3"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        @if(searchTerm.value.length === 0){
        <button (click)="changeFrom(-5)" class="btn btn-secondary">
          Anteriores
        </button>
        &nbsp;
        <button (click)="changeFrom(5)" class="btn btn-secondary">
          Siguientes
        </button>
        }
        <!-- <nav aria-label="...">
            <ul class="pagination">
              <li class="page-item disabled">
                <a class="page-link text-bg-dark" (click)="changeFrom(-5)"
                  >Previous</a
                >
              </li>
              <li class="page-item">
                <a class="page-link text-bg-light" href="#">1</a>
              </li>
              <li class="page-item active" aria-current="page">
                <a class="page-link text-bg-light" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link text-bg-light" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link text-bg-dark" (click)="changeFrom(5)">Next</a>
              </li>
            </ul>
          </nav> -->
      </div>
    </div>
  </div>
</div>
}
