body{
  height: 100vh;
  /* overflow: hidden; */
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursor{
  cursor: pointer;
}

.img-avatar{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.img-avatar-search{
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.w100{
  width: 100px;
}

.w140{
  width: 140px;
}

.w200{
  width: 200px;
}

.avatar{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.avatar-header{
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.modal-background-image{
background-color: rgba(0, 0, 0, 0.4);
top: 0px;
left: 0px;
height: 100%;
width: 100%;
position: fixed;
z-index: 9999;
}

.hidden{
  display: none;
}

.image-container {
  text-align: center; /* Centra la imagen horizontalmente */
}

.image-container img {
  display: block;
  margin: 0 auto; /* Asegura que la imagen esté centrada */
}

.space-letter {
  letter-spacing: 0.15rem;
}

.title-user {
  font-size: 1.7rem;
}
